.half-box {
    position: relative;
    width: 1000px;
    background: url("./assets/images/bkg.png");
    padding: 20px;
  }
  .half-box::before {
    content: ' ';
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  h1 {
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    padding: 0 10px;
    top: -20px;
    background: url("./assets/images/bkg.png");

  }
  p {
    margin-top: 30px;
    padding-left: 30px;
  }